@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom , #1c2122, white);
}
nav{
    width: 100%;
    height: 50px;
    background-color: rgb(224, 214, 214,0.5);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(3px);
    
    
}
nav h1 a{
    margin: 5px;
    text-decoration: none;
    color: #0197F6;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    
}
nav ul li{
    display: inline-block;
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    font-size: 19px;
    color:#fff;
    font-weight: bold;
    padding: 0px 25px;
    letter-spacing: 1px;
    transition: all 0.3s ease;

}
nav ul li a:hover{
    background-color: #fff;
    color: rgb(221, 9, 9);
    border-radius: 25px;
    box-shadow: 0px 0px 5px #A22522;
}
.contain{
    
    height: 80%;
    width: 80%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    overflow: hidden;
    padding: 15px;
}
.contain h2{
    text-align: center;
    color: #A22522;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1px;
}

img{
    filter: drop-shadow(6px 6px 5px rgb(0, 0, 0));
    
}
    
::selection{
    background-color: rgb(99, 42, 165);
    color: #fff;
}

@media (min-width:841px) and (max-width:1200px) {
    img{
        width: 670px;
    }
    .contain{
        width: 673px;
    }
}
@media (max-width:840px){
    img{
        width: 540px;
        }
        .contain{
            width: 543px;
        }
      nav ul li a{
        padding: 0px 5px;
      }  
      .contain h2{
        font-size:25px
      }
}
@media (max-width:675px) {
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80px;
    }
    img{
            width: 400px;
    }
    .contain{
        width: 403px;
    }
    .contain h2{
        font-size:20px
    }

}
@media (min-width:421px) and (max-width:500px) {
    img{
        width: 340px;
    }
    .contain{
        width: 343px;
    }
    .contain h2{
        font-size: 15px;
    }
}
@media (min-width:381px) and (max-width:420px){
    img{
    width: 310px;
    }
    nav{
        height: 95px;
    }
    nav ul li a{
        padding: 0px 0px;
    }  
    .contain{
        width: 313px;
    }
    .contain h2{
        font-size: 15px;
    }
    
}